<div class="container">
  <div class="row">
    <h3>novedades administrador</h3>
    <h2>Bienvenido/a
      {{persona}}!
      <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión
        </a></h2>
  </div>

</div>