body{
    background-color: lightgreen;
}
.h1{
    background-color: lightcoral;
}
.logintitulo{
    width: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: lightslategray;
    border-radius: 2%;
    margin-top: 50px;
}
.modal-body {
    padding: 20px;
  }
  
.modal-title {
    margin-bottom: 20px;
  }
  
.form-label {
    font-weight: bold;
  }
  .form-control {
    border-color: #4CAF50; 
    border-width: 2px;
  }